* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Header Section */
header {
  background-image: url("../images/Header-llustration-desktop.svg");
  height: 140vh;
  margin-bottom: 7rem;
}

.header .top-navbar {
  display: flex;
  justify-content: center;
}

.header .top-navbar .hide-this {
  display: none;
}

/* Header(Navigiation) */
.header nav ul li a.nav-link {
  color: #505f79;
  transition: all 0.3s;
}

.header nav ul li a.nav-link:hover {
  font-size: 1.1rem;
  color: #36b37e;
}

/* Headliner */
.headliner {
  width: 53%;
  margin: 7rem auto 0;
  text-align: center;
}

.developer {
  display: block;
  color: #36b37e;
}

.headliner-text p {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: #172b4d;
}

.social-icon-container ul li a i.social-icon {
  font-size: 1.3rem;
  color: #505f79;
  transition: all 0.2s;
}

.social-icon-container ul li a i.social-icon:hover {
  font-size: 1.4rem;
  color: #36b37e;
}

.arrow-down a i {
  padding: 0.8rem 0.9rem;
  border-radius: 50%;
  color: #505f79;
  margin-top: 5rem;
  border: 1px solid #d0d9d4;
  transition: all 0.3s;
}

.arrow-down a i:hover {
  background-color: #36b37e;
  color: #fff;
  border: 0;
  transform: scale(1.1);
}

/* Recent Work Section */
.recent-work {
  margin-bottom: 10rem;
}

.recent-work .recent-work-header h1 {
  color: #172b4d;
}

.card {
  padding: 0;
  width: 30%;
  margin: auto 1rem 2rem;
}

.card-header {
  background-color: #edf3f0;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 0;
}

.badge {
  color: #505f79;
  background-color: #edf3f0;
  font-size: 0.7rem;
}

.card-footer {
  border: 0;
  margin-top: 1rem;
}

.card-footer .see-project {
  background-color: #36b37e;
  color: #fff;
  font-family: sans-serif;
}

/* About Me Section */
.about-me {
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  background-image: url("../images/illustration\ about\ me\ desktop.svg"), url("../images/illustration-about-me-2-desktop.svg");
  background-position: 30% 70%, 0 100%;
}

.bio {
  width: 53%;
  margin: 0 auto;
  color: #505f79;
}

.bio .bio-text {
  font-family: sans-serif;
  font-size: 1.1rem;
}

.bio .cv {
  font-family: sans-serif;
}

/* Soft Skill Section */
.soft-skill {
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

.soft-skill .card {
  margin: 1rem;
}

.soft-skill .card-header {
  height: 100px;
  padding-top: 1rem;
  margin: 0;
}

.soft-skill .card-footer h1 {
  color: #505f79;
}

.soft-skill .card-header,
.soft-skill .card-body,
.soft-skill .card-footer {
  background-color: #f3f3f3;
}

.soft-skill .card-footer {
  margin: 0;
  padding: 0 0 2rem 0;
}

.soft-skill .card .card-header a i {
  color: #36b37e;
  font-size: 3rem;
}

.soft-skill .card-footer .nav li a span.badge {
  color: #36b37e;
  background-color: #fff;
  font-size: 0.9rem;
}

.soft-skill .card-footer .nav li a {
  padding: 0.5rem;
}

/* Form Section */
.form-section {
  height: 90vh;
  padding: 3rem;
  background-image: url("../images/illustration-1-contact-form-desktop-left.svg"), url("../images/illustration-2-contact-form-desktop-middle.svg"), url("../images/contact\ form-illustratoin-3-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 90%, 25% 85%, 100% 100%;
}

.form-section .form-title h1 {
  color: #172b4d;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  line-height: 3rem;
}

.form-section form input,
.form-section form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.form-section form button {
  font-size: 1rem;
  padding: 0.7rem;
}

/* Footer Section */
.desktop-footer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-top-border {
  border-top: 1px solid #d0d9d4;
}

.desktop-footer .nav li a i.social-footer {
  color: #505f79;
  transition: all 0.2s;
  font-size: 1.3rem;
}

.desktop-footer .nav li a i:hover {
  color: #36b37e;
  font-size: 1.4rem;
}

.my-email {
  display: none;
}

/* Mobile Version */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    background-image: url("../images/backgroundImage2x.svg");
    background-repeat: no-repeat;
    margin-bottom: 0;
    height: 100vh;
  }

  .header .top-navbar {
    justify-content: space-between;
  }

  .header .top-navbar .hide-this-desktop {
    display: none;
  }

  .header .top-navbar .humburger i {
    font-size: 1.5rem;
  }

  .header .top-navbar .hide-this {
    display: block;
  }

  /* Headliner */
  .headliner {
    width: 90%;
    margin-top: 4rem;
  }

  /* My Recent Work Mobile */
  .recent-work {
    margin-bottom: 5rem;
    position: relative;
  }

  .recent-work .recent-work-header h1 {
    font-size: 2.3rem;
  }

  .recent-work .recent-work-header h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 5%;
    background-color: #36b37e;
    position: absolute;
    left: 40%;
    top: 2.5%;
  }

  .recent-work .card {
    width: 95%;
    margin: 1rem auto;
  }

  .project-languages ul li a {
    padding: 0.5rem;
  }

  /* About Me Section Moblie */
  .about-me {
    background-image: url("../images/air-tail.svg"), url("../images/air-front.svg ");
    background-repeat: no-repeat;
    background-position: 0% 90%, 105% -28%;
    margin-bottom: 3rem;
  }

  .bio {
    width: 100%;
  }

  /* Soft Skill Mobile */
  .soft-skill .card {
    width: 100%;
    margin: 1rem 0;
  }

  /* Form Section Mobile */
  .form-section {
    background-image: none;
    padding: 1rem;
    text-align: center;
    height: auto;
  }

  .form-section .form-title h1 {
    margin-bottom: 2rem;
    line-height: 2rem;
  }

  .form-section form input,
  .form-section form textarea {
    width: 100%;
  }

  /* Footer Section mobile */
  .desktop-footer {
    top: 72%;
    width: 100%;
  }

  .desktop-footer .nav li a {
    padding: 0.5rem;
  }

  .footer-top-border {
    border: 0;
  }

  .my-email {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
}
